{% extends 'layout.html' %}
{% block about %}
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="/" class="logo me-auto me-lg-0"><img src="static/img/logo.png" alt="" class="img-fluid"></a>
       <!-- <h1 class="logo me-auto"><a href="index.html"><span>Com</span>pany</a></h1> -->
       <h1 class="logo me-auto"><a href="/"><span>Agri Farmers </span></a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="/">Home</a></li>
         <!--  <li class="dropdown"><a href="#" class="active"><span>About Us</span> <i class="bi bi-chevron-down"></i></a> -->
          <li><a href="about" class="active">About Us</a></li>
          </li>
          <li><a href="services">Services</a></li>
          <li class="dropdown"><a href="product"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="animals">Animal Feeds</a></li>
                <li><a href="farm">Farm Inputs</a></li>
              </ul>
            </li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <div class="header-social-links d-flex">
        <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
        <a href="https://www.instagram.com/?next=%2F" class="instagram"><i class="bu bi-instagram"></i></a>
      </div>
    </div>
  </header><!-- End Header -->
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>Revolutionizing Agriculture with High-Quality Products</h2>
            <h3>Inputs Agri-Farmers Limited - Sustainable products that offers Solutions for Agriculture Across Tanzania</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              Inputs Agri-Farmers Limited is a fast-growing agriculture and livestock feeds company established in 2019, with operations in all  parts of Tanzania
            </p>
            <p>
              At Inputs Agri-Farmers Limited, we are dedicated to provide our clients with the best possible agriculture products and services. We are a team of experienced professionals who have a deep understanding of the agriculture industry. Our goal is to help farmers achieve their full potential by providing them with high-quality inputs and customized solutions that meet their unique needs.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>We offers a wide range of high-quality agriculture inputs</li>
              <li><i class="ri-check-double-line"></i>We are dedicated to revolution of the agriculture industry</li>
              <li><i class="ri-check-double-line"></i>We strives to provide exceptional customer service and support</li>
            </ul>
            <p class="fst-italic">
              We are proud of our accomplishments so far, and we are excited about the future of Inputs Agri-Farmers Limited. We are committed to helping farmers achieve their full potential, and we look forward to continuing to grow and expand our operations in the years to come with quality products and services
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->
  </main><!-- End #main -->
{% endblock %}
