{% extends 'layout.html' %}
{% block farm %}
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

       <a href="/" class="logo me-auto me-lg-0"><img src="static/img/logo.png" alt="" class="img-fluid"></a>
       <!-- <h1 class="logo me-auto"><a href="index.html"><span>Com</span>pany</a></h1> -->
       <h1 class="logo me-auto"><a href="/">Input <span>Agri Farmers</span></a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="/">Home</a></li>

          <li class="dropdown"><a href="#"><span>About Us</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="about">About Us</a></li>
              <!-- <li><a href="testify">Testimonials</a></li> -->
            </ul>
          </li>

          <li><a href="services">Services</a></li>
            <li class="dropdown"><a href="product" class="active"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="animals">Animal Feeds</a></li>
                <li><a href="farm">Farm Inputs</a></li>
              </ul>
            </li>
          <li><a href="contact">Contact</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex">
        <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
        <a href="https://www.instagram.com/?next=%2F" class="instagram"><i class="bu bi-instagram"></i></a>
        <!-- <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a> -->
      </div>

    </div>
  </header><!-- End Header -->

<!-- <main id="main"> -->

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Farm Inputs</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Products</li>
        </ol>
      </div>

    </div>
  </section><br><!-- End Breadcrumbs -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</head>
<!-- <body> -->
  <div class="container mt-3">
      <div id="farm">
      <div class="row">
        <div class="col-md-4 mb-3 col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="card h-100">
            <img src="static/img/portfolio/superFeed.png" class="card-img-top" alt="Product 1">
            <div class="card-body">
              <h5 class="card-title">Super Feed</h5>
              <p class="card-text">Super Feed is a water soluble compound foliar fertilizer and plant. Booster is especially formulated with chelated Micro-Nutrients for fast and effective absorption</p>
              <a href="#" class="btn btn-success" onclick="superFeed('Super Feed', 'Super Feed is a water soluble compound foliar fertilizer and plant. Booster is especially formulated with chelated Micro-Nutrients for fast and effective absorption. Super Feed provides the supplementary feeding of a well balanced fertilizer under the heavy cropping condition and includes quick recovery from unfavourable climatic condition')">View More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="card h-100">
            <img src="static/img/portfolio/extraKijani.png" class="card-img-top" alt>
            <div class="card-body">
              <p class="card-text">Booster Extra Kijani is the liquid foliar fertilizer sprayed to leaves of all types of crops.It is suitable for all stages of growth of a plant</p>
              <a href="#" class="btn btn-success" onclick="boosterExtraKijani('Booster Extra Kijani', 'Booster Extra Kijani is the liquid foliar fertilizer sprayed to leaves of all types of crops.It is suitable for all stages of growth of a plant'
              )">View More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="card h-100">
              <img src="static/img/portfolio/superK.png" class="card-img-top" alt="Product 2">
              <div class="card-body">
                <!-- <h5 class="card-title">Booster Extra Super K</h5> -->
                <p class="card-text">Booster Extra Super K is a liquid foliar fertilizer which is sprayed in leafes of all types of crops. It increases important nutrients of different types.It has high penetration rate to the roots over half an hour</p>
                <a href="#" class="btn btn-success" onclick="boosterExtraSuper('Booster Extra Super K', 'Booster Extra Super K is a liquid foliar fertilizer which is sprayed in leafes of all types of crops. It increases important nutrients of different types.It has high penetration rate to the roots over half an hour')">View More</a>
              </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Details Modal -->
  <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailsModalLabel">Product Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="detailsModalDescription"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    </section>
{% endblock %}
